:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%;

  --color-rgba-1: rgba(255, 255, 255, 0.87);
  --bg-body: #242424;
  --gray-900: #0D0D0D;
  --gray-100: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-body);
  color: var(--color-rgba-1);
  
  font-size: 1.6rem;
}
