.header {
    background: var(--gray-900);

    height: 20rem;

    display: flex;
    justify-content: center;
}

.header img {
    width: 12rem;
}

form {
    width: 100%;

    display: flex;
    justify-content: center;
}

/* main */
